{% extends "base.html" %}

{% block content %}

<div class="card">

    <h2>Histórico de Eventos</h2>

    <table class="table">

        <thead>
            <tr>
                <th>Data/Hora</th>
                <th>Nível</th>
                <th>Origem</th>
                <th>Mensagem</th>
            </tr>
        </thead>

        <tbody>

        {% for event in events %}

            <tr>

                <td>{{ event.timestamp.strftime("%d/%m/%y %H:%M") }}</td>

                <td>

                {% if event.level == "INFO" %}
                <span class="badge badge-info">INFO</span>

                {% elif event.level == "WARNING" %}
                <span class="badge badge-warning">WARNING</span>

                {% elif event.level == "ERROR" %}
                <span class="badge badge-error">ERROR</span>

                {% endif %}

                </td>

                <td>{{ event.source }}</td>

                <td>{{ event.message }}</td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}