{% extends "base.html" %}

{% block content %}

<div class="cards">

    <div class="metric-card">
        <div class="metric-title">Hostname</div>
        <div class="metric-value">{{ hostname }}</div>
    </div>

    <div class="metric-card">
        <div class="metric-title">Uptime</div>
        <div class="metric-value">{{ uptime }}</div>
    </div>

    <div class="metric-card">
        <div class="metric-title">CPU</div>
        <div class="metric-value">{{ cpu }}%</div>
    </div>

    <div class="metric-card">
        <div class="metric-title">Memória</div>
        <div class="metric-value">{{ memory }}%</div>
    </div>

    {% for iface in interfaces %}

    <div class="metric-card">

        <div class="metric-title">

            {{ iface.label }}

            ({{ iface.name }})

        </div>

        {% if iface.ssid %}

        <div class="metric-subtitle">

            {{ iface.ssid }}

        </div>

        {% endif %}

        <div class="metric-value">

            {{ iface.ip }}

        </div>

        {% if iface.mac %}

        <div class="metric-subtitle">

            MAC: {{ iface.mac }}

        </div>

        {% endif %}

    </div>

    {% endfor %}

    <div class="metric-card">

        <div class="metric-title">

            Disco

        </div>

        <div class="metric-subtitle">

            {{ disk.used }} GB / {{ disk.total }} GB

        </div>

        <div class="metric-value">

            {{ disk.percent }}%

        </div>

    </div>

</div>

{% endblock %}